<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>FastFox</title>
</head>
<body>
<h1>FastFox</h1>
<a href="{{ url_for('ask_question') }}">Ask a Question</a>
<table>
    <thead>
        <tr>
            {%  for head in header %}
                <th>{{ ' '.join(head.split('_')).title() }}</th>
            {%  endfor %}
        </tr>
         <tbody>
            {% for question in question_list %}
                <tr>
                {% for key,value in question.items() %}
                    {% if key == 'id' %}
                        <td><a href="{{ url_for('display_question', id=question['id'])}}">{{ value }}</a></td>
                    {%  else %}
                        <td>{{ value }}</td>
                    {%  endif %}
                {% endfor %}
                </tr>
            {% endfor %}
</tbody>
    </thead>
</table>
</body>
</html>