<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>AskMate</title>
</head>
<body>
<h1>Ask Mate</h1>
<a href="{{ url_for('list_questions') }}">Back to Main Page</a>
<table>
<h2>Question Number</h2>
    <thead>
        <tr>
            {%  for head in header %}
                <th>{{ ' '.join(head.split('_')).title() }}</th>
            {%  endfor %}
        </tr>
         <tbody>
                <tr>
                {% for value in result %}
                    <td>{{ value }}</td>
                {% endfor %}
                </tr>
</tbody>
    </thead>
</table>
<table>
<h3>Answers</h3>
    <ol>
        {% for answer in answer_list %}
            <li>{{ answer }}</li>
        {% endfor %}
    </ol>
</table>
</body>
</html>
